{{>navigation}}

{{#each lista}}
    <div>{{this.categoria}}</div>
    
    
    {{#each this.listaParcial}}
       <div>{{this.letra}}</div>
       {{#each this.lista}}
        <ul> 
            <li><a href="/storeView/agroRobots" data-brand="{{this.Nombre}}">{{this.Nombre}}</a></li> 
        </ul>
       {{/each}}
    {{/each}}
    
{{/each}}
